# Lié à Python
__pycache__/
__pypackages__/
.egg*
*.egg
*.egg-info/
.pyc
venv/
.env

# Au cas où quelqu'un utilise Visual Studio
.vscode/
*.vs
*.idea

# En développement
ofrom_outils/export/
ofrom_outils/pos/

# Parties trop lourdes ou privées
ofrom_outils/pr/
ofrom_outils/meta/geonames/
build/
maj/
programmes/Dismo/
programmes/ffmpeg/
programmes/praat/Praat.exe
§*
*.exe
*.log
*.key